langchain==0.3.27
langchain-community==0.3.31
langchain-core==0.3.79
langchain-openai==0.3.28
langchain-text-splitters==0.3.11
langchain-teddynote
faiss-cpu
pypdf
fastapi
uvicorn
python-multipart
streamlit
requests
python-dotenv
pymupdf
opencv-python-headless
pytesseract
Pillow
scikit-learn




